/* autoprefixer grid: on */

@import 'includes/fonts';
@import 'includes/variables';

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 10px;
}

body {
    -ms-content-zooming: none; /* Disables zooming */
    color: $text_color;
    font-family: $regular_font;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    background: $background_color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;

    &.cssloaded {
        opacity: 1;
        transition: opacity 0.75s ease-in-out 0.25s;
    }

    @media (min-width: 375px) {
        font-size: 1em;
    }
}

@-ms-viewport {
    width: device-width;
}

a {
    color: $text_color;
    -webkit-user-drag: none;
    text-decoration: none;
}

a:focus,
a:active,
button:focus,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline: 0;
}