@import './fonts';

/*
 * COLORS
 */
$white: #FFF;
$black: #000;

$background_color: $white;
$text_color: $black;

/*
 * ANIMATIONS
 */
// $ease_out: cubic-bezier(.23,.82,.44,1);
// $ease_out: cubic-bezier(.23,.24,.24,1);
// $ease_in: cubic-bezier(.42,0,1,1);
// $ease_in_out: cubic-bezier(.5,.01,.35,1);