<!doctype html>
<html lang="en">
    <!-- {{ env.environment }} -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{{ description or meta.description }}" />
        <meta name="keywords" content="{{ keywords or meta.keywords }}">
        <meta itemprop="name" content="{{ title or meta.title }}" />
        <meta itemprop="image" content="{{ env.site_url }}{{ env.site_path }}{{ share_img or meta.share_img }}" />

        <meta name="robots" content="index, follow">
        <meta name="GOOGLEBOT" content="index, follow" />

        <title>{{ title or meta.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

        <!-- FACEBOOK OPEN GRAPH -->
        <!-- >>>>>>>>>>>>>>>>>>>>-->
        <meta property="og:site_name" content="{{ title or meta.title }}"> 
        <meta property="og:title" content="{{ title or meta.title }}">
        <meta property="og:url" content="{{ env.site_url }}{{ env.site_path }}">
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ description or meta.description }}">
        <meta property="og:image" content="{{ env.site_url }}{{ env.site_path }}{{ meta.share_img }}" />
        <!-- >>>>>>>>>>>>>>>>>>>>-->

        <!-- TWITTER CARD -->
        <!-- >>>>>>>>>>>>>-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:url" content="{{ env.site_url }}{{ env.site_path }}">
        <meta name="twitter:site" content="@{{ env.twitter_user }}">
        <meta name="twitter:description" content="{{ meta.description }}">
        <meta name="twitter:image" content="{{ env.site_url }}{{ env.site_path }}{{ meta.share_img }}">
        <!-- >>>>>>>>>>>>>-->

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ env.site_url }}{{ env.site_path }}assets/icons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ env.site_url }}{{ env.site_path }}assets/icons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ env.site_url }}{{ env.site_path }}assets/icons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ env.site_url }}{{ env.site_path }}assets/icons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ env.site_url }}{{ env.site_path }}assets/icons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ env.site_url }}{{ env.site_path }}assets/icons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ env.site_url }}{{ env.site_path }}assets/icons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ env.site_url }}{{ env.site_path }}assets/icons/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="{{ env.site_url }}{{ env.site_path }}assets/icons/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="{{ env.site_url }}{{ env.site_path }}assets/icons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ env.site_url }}{{ env.site_path }}assets/icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ env.site_url }}{{ env.site_path }}assets/icons/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ env.site_url }}{{ env.site_path }}assets/icons/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{{ env.site_url }}{{ env.site_path }}assets/icons/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="{{ env.site_url }}{{ env.site_path }}assets/icons/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="{{ env.site_url }}{{ env.site_path }}assets/icons/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="{{ env.site_url }}{{ env.site_path }}assets/icons/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="{{ env.site_url }}{{ env.site_path }}assets/icons/mstile-310x310.png" />
        <link rel="shortcut icon" href="{{ env.site_url }}{{ env.site_path }}assets/icons/favicon.ico">
        <style>
        body {
            background: #efefef;
        }
        .box {
            position: absolute;
            width: 100px;
            height: 100px;
            left: 50px;
            top: 50px;
            background: #33b5e5;
        }
        .box--red {
            left: 250px;
            background: #E53368;
        }
        </style>
    </head>

    <body>
        <div class="content-wrapper">
            <div class="box box--blue"></div>
            <div class="box box--red"></div>
        </div>

        {# <link rel="stylesheet" href="{{ env.site_path }}css/critical.css"> #}
        <link rel="stylesheet" href="/app/scss/critical.scss">
        <script>
            document.addEventListener('DOMContentLoaded', function(event) {
                document.body.classList.add('cssloaded');
            });
        </script>

        {# <link rel="stylesheet" href="{{ env.site_path }}css/styles.css"> #}
        <link rel="stylesheet" href="/app/scss/main.scss">
        <link rel="stylesheet" href="{{ env.site_path }}css/tweentime.css">
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ env.site_path }}css/fonts/icomoon/style.css">

        {# <script src="js/TweenMax.js"></script>
        <script src="js/TimelineMax.js"></script> #}
        <script src="{{ env.site_path }}js/draggable-number.js"></script>
        {# <script type="text/javascript" src="{{ env.site_path }}js/mainjs.js"></script> #}
        <script type="module" src="/app/js/main.js"></script>
    </body>
</html>